/* ImageGallery.module.css */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 стовпці */
  gap: 16px; /* Відстань між картинками */
  list-style: none;
  padding: 0;
  margin: 0;
}

.imageItem {
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 1 / 1; /* Зберігає співвідношення сторін */
}

.imageItem img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрізає зображення так, щоб воно заповнювало контейнер */
}
